<div class="col-lg-10">
    
    {% if character_sheet_data.datatype.vars.value == 'group' %}
        {% if character_sheet_data.display_name is defined %}
    	    {{ form_row(character_sheet_data.display_name, {'label': false}) }}
        {% endif %}
        
        {% for character_sheet_datum in character_sheet_data.character_sheet_data %}
        	{{ include('AppBundle:CharacterSheet:character_sheet_data_editable_form.html.twig', {'character_sheet_data': character_sheet_datum}, with_context = false) }}
        {% endfor %}
    
    {% else %}
        <div class="form-inline">
            {% if character_sheet_data.display_name is defined %}
        	    {{ form_row(character_sheet_data.display_name, {'label': false}) }}
            {% endif %}
        	{{ form_row(character_sheet_data.value, {'label': false}) }}
        </div>
    {% endif %}
    
    {{ form_row(character_sheet_data, {'label': false}) }}
</div>