{{ dump(form) }}
{{ form_errors(form) }}
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} novalidate method="POST" class="form-horizontal">
    {{ bootstrap_set_style('horizontal') }}    
    {{ form_row(form.username, { 'label': 'Username', 'label_col': 2, 'widget_col': 3}) }}
    {{ form_row(form.email, { 'label': 'Email', 'label_col': 2, 'widget_col': 5}) }}
    {{ form_row(form.current_password, { 'label': 'Current password', 'label_col': 2, 'widget_col': 2}) }}
    {{ form_row(form._token) }}
    {{ bootstrap_set_style('') }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
