<div class="container">
	<h1>
		{{ user.username }}
		{% for role in user.roles %}
			{% if role == "ROLE_SUPER_ADMIN" %}
				<span class="label label-default">SUPER ADMIN</span>
			{% elseif role == "ROLE_ADMIN" %}
	    		<span class="label label-default">ADMIN</span>
	    	{% elseif role == "ROLE_USER" %}
	    		<span class="label label-default">USER</span>
			{% endif %}
		{% endfor %}
	</h1>
	
	<h3>
		{{ icon('envelope') }}
		Email: <b>{{ user.email }}</b>
	</h3>
	<h3>
		{{ icon('pencil') }}
		Real Name: <b>{{ user.realName }}</b>
	</h3>
	<h3>
		{{ icon('pencil') }}
		Real Surname: <b>{{ user.realSurname }}</b>
	</h3>
	
	<a href="{{ path('fos_user_profile_edit') }}">
		<button type="submit" id="edit_profile" class="btn btn-primary">Edit profile</button>
	</a>
	
	<a href="{{ path('fos_user_change_password') }}">
		<button type="submit" id="change_password" class="btn btn-primary">Change password</button>
	</a>
	
</div>