<div id="game_container" class="game-container">

{# CONNECTION #}
	{{ include('AppBundle:GameSession:connection.html.twig') }}
{# CONNECTION #}
 
 
{# GAMEMASTER SETTINGS #}
	{{ include('AppBundle:GameSession:gamemaster_settings.html.twig') }}
{# GAMEMASTER SETTINGS #}


{# USER SETTINGS #}
	{{ include('AppBundle:GameSession:user_settings.html.twig') }}
{# USER SETTINGS #}


{# IMPORT CHARACTER SHEET #}
	{{ include('AppBundle:GameSession:import_character_sheet.html.twig') }}
{# IMPORT CHARACTER SHEET #}


{# FUNCTIONALITY CHARACTER SHEET #}
	{{ include('AppBundle:GameSession:functionality_character_sheet.html.twig') }}
{# FUNCTIONALITY CHARACTER SHEET #}
	

{# CHAT #}
	{{ include('AppBundle:GameSession:chat.html.twig') }}
{# CHAT #}


{# Utilities #}
	{{ include('AppBundle:GameSession:utilities.html.twig') }}
{# Utilities #}

</div>