{% extends 'base.html.twig' %}

{% block title %}{% trans %}administration.main_menu.title{% endtrans %}{% endblock %}

{% block body %}

	<h1>Administration GameSessionBundle</h1>
	</br>
	
	{% if alert_type is defined %}
    	<div class="alert alert-{{ alert_type }}" role="alert">{{ alert_message }}</div>
    {% endif %}
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
	
    <div class="row">
    	<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
    			<div class="caption">
    				<h3>User game session connection</h3> 
    				<p>
	    				{{ form_start(user_game_session_connection_form, { 'method': 'POST', 'style': 'inline', 'attr': {'onclick': 'return confirm("Are you sure?")'} }) }}
        					{{ form_widget(user_game_session_connection_form.remove_all_user_game_session_connection) }}
        					{{ form_widget(user_game_session_connection_form) }}
    				    {{ form_end(user_game_session_connection_form) }}
    				</p> 
    			</div> 
    		</div> 
    	</div>
    </div>

{% endblock %}

