{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Register{% endblock %}

{% block fos_user_content %}
	{# 	{% include "FOSUserBundle:Registration:register_content.html.twig" %}#}
	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
	    {{ bootstrap_set_style('horizontal') }}
	    {{ form_row(form.username, { 'label': 'Username', 'label_col': 2, 'widget_col': 3}) }}
	    {{ form_row(form.email, { 'label': 'Email', 'label_col': 2, 'widget_col': 5}) }}
	    {{ form_row(form.plainPassword.first, { 'label': 'Password', 'label_col': 2, 'widget_col': 2}) }}
	    {{ form_row(form.plainPassword.second, { 'label': 'Password Confirmation', 'label_col': 2, 'widget_col': 2}) }}
	    {{ form_row(form.real_name, { 'label': 'Real name', 'label_col': 2, 'widget_col': 3}) }}
	    {{ form_row(form.real_surname, { 'label': 'Real surname', 'label_col': 2, 'widget_col': 3}) }}
	    {{ form_row(form.termsAccepted, { 'label': 'Terms accepted'}) }}
	    {{ form_row(form.submit_button)}}
{# 		{{ form_widget(form) }}#}
	    {{ bootstrap_set_style('') }}
	</form>


{% endblock fos_user_content %}
