{% extends 'base.html.twig' %}

{% block title %}Manage character sheet templates{% endblock %}

{% block body %}

	<h1>{% trans %}Manage character sheet templates{% endtrans %}</h1>
	</br>
	<a href="{{ path('add_character_sheet_template') }}" class="btn btn-primary" role="button">Add character sheet template</a>
	</br>
	
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Rol game</th>
					<th>Version</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
			{% for character_sheet_template in character_sheet_templates %}
				    <tr>
						<td>{{ character_sheet_template.getName() }}</td>
						<td>{{ character_sheet_template.getRolGame().getName() }}</td>
						<td>{{ character_sheet_template.getVersion() }}</td>
						<td>
							<form action="{{ path('edit_character_sheet_template', {'character_sheet_template_id': character_sheet_template.getId()}) }}">
					    		<input class="btn btn-primary" type="submit" value={% trans %}Edit{% endtrans %}>
							</form>	
							<form action="{{ path('remove_character_sheet_template', {'character_sheet_template_id': character_sheet_template.getId()}) }}">
					    		<input class="btn btn-danger" type="submit" value={% trans %}Remove{% endtrans %}>
							</form>	
						</td>
				    </tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	
{% endblock %}
