{% extends 'base.html.twig' %}

{% block title %}{% trans %}game_session.create.title{% endtrans %}{% endblock %}

{% block body %}
	<h1>{% trans %}game_session.create.title{% endtrans %}</h1>
	{{ form_start(form, {'method': 'POST', 'style': 'horizontal', 'attr': {'id': 'form_create_game_session', 'novalidate': 'novalidate'} }) }}
		{{ form_row(form.name, { 'label': 'game_session.name', 'label_col': 2, 'widget_col': 3}) }}
		{{ form_row(form.password, { 'label': 'game_session.password', 'label_col': 2, 'widget_col': 2}) }}
		{{ form_row(form.rol_game, { 'label': 'game_session.rol_game', 'label_col': 2, 'widget_col': 3}) }}
		{{ form_row(form.language, { 'label': 'game_session.language', 'label_col': 2, 'widget_col': 3}) }}
		{{ form_row(form.comments, { 'label': 'game_session.comments', 'label_col': 2, 'widget_col': 5}) }}
		{{ form_row(form.submit_button, {'label': 'game_session.create.submit'}) }}
		{{ form_widget(form) }}
	{{ form_end(form) }}
	
{% endblock %}