{% extends 'base.html.twig' %}

{% block title %}Create game Session{% endblock %}

{% block body %}
	<h1>Create Game Sesion</h1>
	
	{{ form_start(form, {'method': 'POST', 'style': 'horizontal', 'attr': {'id': 'form_create_game_session', 'novalidate': 'novalidate'} }) }}
		{{ form_row(form.name) }}
		{{ form_row(form.password) }}
		{{ form_row(form.rol_game) }}
		{{ form_row(form.language) }}
		{{ form_row(form.comments) }}
	{{ form_end(form) }}
	
{% endblock %}

{% block javascripts %}

	{% javascripts '@GameSessionBundle/Resources/public/js/* '%}
	    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	<script>
		$( "#form_create_game_session #form_actions_cancel" ).click(function(){
			path('game_session_homepage')
		});
	</script>

{% endblock %}