{% extends 'base.html.twig' %}

{% block body %}

	Welcome to {{ game_session.getName() }}, {{ app.user.username }}.

	</br></br></br>
	
	<div id="chat">
		<textarea id="written-text" rows="5" readonly style="overflow-y: scroll;"></textarea>
		</br>
		<textarea id="new-text" rows="2">Writte here.</textarea>
		<button id="send-button">Send</button>
	</div>

	{{ ws_client() }}
	
{% endblock %}


{% block javascripts %}

{% javascripts 
	'../app/Resources/public/js/*'
	'@GameSessionBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
	var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";
	var websocket = WS.connect(_WS_URI);
	//var chatFirstConnection = true;

	var room = {{ game_session.getId() }};
	var route_chat = "gameSession/chat/";
	route_chat = route_chat.concat(room);
	websocket.on("socket/connect", function(session){

	    //session.call("sample/sum", {"term1": 2, "term2": 5}).then(
	    //        function(result)
	    //        {
	    //            console.log("RPC Valid!", result);
	    //        },
	    //        function(error, desc)
	    //        {
	    //            console.log("RPC Error", error, desc);
	    //        }
	    //);
		//session.unsubscribe("acme/channel");

		session.subscribe(route_chat, function(uri, payload){
			if (payload.text != null) {
				addTextToChat(payload);
			}
		});

	    
		$( "#send-button" ).click(function() {
			var newText = $( "#new-text" ).val();
			session.publish(route_chat, {msg: newText});
		});
		
	});
	websocket.on("socket/disconnect", function(error){
	    $( "#written-text" ).append("Disconnected for " + error.reason + " with code " + error.code);
	    $( "#written-text" ).append("&#10;");
	});

	function addTextToChat(payload){

		if (payload.name_sender != null) {
			$( "#written-text" ).append(payload.date);
			$( "#written-text" ).append("-");
			$( "#written-text" ).append(payload.name_sender);
			$( "#written-text" ).append(": ");
			$( "#written-text" ).append(payload.text);
			$( "#written-text" ).append("&#10;");
		}
		else {
			$( "#written-text" ).append(payload.date);
			$( "#written-text" ).append(": ");
			$( "#written-text" ).append(payload.text);
			$( "#written-text" ).append("&#10;");
			$( "#written-text" ).append("&#10;");
		}
	}
</script>

{% endblock %}
