{% extends 'base.html.twig' %}

{% block title %}{% trans %}character_sheet.main_menu.title{% endtrans %}{% endblock %}

{% block body %}

	<h1>Character Sheets Menu</h1>
	</br>
	{{ form_start(form, {'method': 'POST', 'style': 'horizontal', 'attr': {'id': 'form_character_sheets', 'novalidate': 'novalidate'} }) }}
        {{ form_row(form.name, { 'label': 'character_sheet.name', 'label_col': 2, 'widget_col': 3}) }}
        {{ form_row(form.character_sheet_template, { 'label': 'character_sheet.character_sheet_tempalte', 'label_col': 2, 'widget_col': 4}) }}		
        {{ form_row(form.submit_button, {'label': 'character_sheet.submit'}) }}		
	{{ form_end(form) }}
{% endblock %}

