<div id="game_container" class="game-container">

{# CONNECTION #}
	{{ include('GamingPlatformBundle:GameSession:connection.html.twig') }}
{# CONNECTION #}
 
 
{# SETTINGS #}
	{{ include('GamingPlatformBundle:GameSession:settings.html.twig') }}
{# SETTINGS #}


{# IMPORT CHARACTER SHEET #}
	{{ include('GamingPlatformBundle:GameSession:import_character_sheet.html.twig') }}
{# IMPORT CHARACTER SHEET #}


{# FUNCTIONALITY CHARACTER SHEET #}
	{{ include('GamingPlatformBundle:GameSession:functionality_character_sheet.html.twig') }}
{# FUNCTIONALITY CHARACTER SHEET #}
	

{# CHAT #}
	{{ include('GamingPlatformBundle:GameSession:chat.html.twig') }}
{# CHAT #}


{# Utilities #}
	{{ include('GamingPlatformBundle:GameSession:utilities.html.twig') }}
{# Utilities #}

</div>