{% extends 'base.html.twig' %}

{% block title %}{% trans %}game_session.join.title{% endtrans %}{% endblock %}

{% block body %}

	<h1>{% trans %}game_session.join.title{% endtrans %}</h1>
	</br>
	
	{% if game_sessions == 'empty' %}
		<form action="{{ path('create_game_session') }}">
			<h3>{% trans %}game_session.search.there_are_not{% endtrans %}
	    		<input class="btn btn-primary" type="submit" value="{% trans %}game_session.create.title{% endtrans %}">
	    	</h3>
		</form>
		
	{% elseif game_sessions == 'unsuccessful_search' %}
		{{ form_start(form_search, {'method': 'POST', 'style': 'horizontal', 'attr': {'id': 'form_search'} }) }}
			{{ form_row(form_search.search, { 'label': ' '}) }}
			{{ form_widget(form_search) }}
		{{ form_end(form_search) }}
	
		<h3>{{ "game_session.search.unsuccessful"|trans({'%search%': search}) }}</h3> 
    
	{% else %}
		{{ form_start(form_search, {'method': 'POST', 'style': 'horizontal', 'attr': {'id': 'form_search'} }) }}
			{{ form_row(form_search.search, { 'label': ' '}) }}
			{{ form_widget(form_search) }}
		{{ form_end(form_search) }}

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{% trans %}game_session.name{% endtrans %}</th>
					<th>{% trans %}game_session.rol_game{% endtrans %}</th>
					<th>{% trans %}game_session.gamemaster{% endtrans %}</th>
					<th>{% trans %}game_session.language{% endtrans %}</th>
					<th>{% trans %}game_session.join.submit{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for game_session in game_sessions %}
				    <tr>
						<td>{{ game_session.getName() }}</td>
						<td>{{ game_session.getRolGame().getName()|trans }}</td>
						<td>{{ game_session.getOwner().getUsername() }}</td>
						<td>{{ game_session.getLanguage().getDisplayName()|trans|capitalize }}</td>
						<td>
							<form action="{{ path('login_game_session', {'game_session_id': game_session.getId()}) }}">
					    		<input class="btn btn-primary" type="submit" value={% trans %}game_session.join.submit{% endtrans %}>
							</form>
                            {% if game_session.getOwner().getId() == app.user.id %}
    							<form action="{{ path('delete_game_session', {'game_session_id': game_session.getId()}) }}">
    					    		<input class="btn btn-danger" type="submit" value={% trans %}game_session.remove.submit{% endtrans %}>
    							</form>
                            {% endif %}
						</td>
				    </tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
	
{% endblock %}
