{% extends 'base.html.twig' %}

{% block title %}{% trans %}add_character_sheet.title{% endtrans %}{% endblock %}

{% block body %}

	<h1>{% trans %}add_character_sheet.title{% endtrans %}</h1>
	</br>

{# 	{{ form_start(form, {'method': 'POST', 'style': 'horizontal', 'attr': {'novalidate': 'novalidate'} }) }}#}
    {{ form_start(form, {'method': 'POST', 'style': 'horizontal', 'attr': {'id': 'form', 'novalidate': 'novalidate'} }) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	<script>
        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }
        var request_derivation_fields = getJSonObject("{{request_derivation_fields|json_encode()}}");

        $.each( request_derivation_fields, function( key, value ) {
        	$('[id-form="'+value+'"]').change(function(){

        		data = $('#form').serialize() + "&id_modified=" + value;

                $.ajax({
                    url : window.location.href,
                    type: 'POST',
                    dataType : 'json',
                    data : JSON.parse(JSON.stringify(data) ),
                    success: function(data) {
                        for (datum in data) {
                        	$('[id-form="'+datum+'"]').val(data[datum]);
                        }
                    }
                });
        	})
        });
	</script>
{% endblock %}