{% extends 'base.html.twig' %}

{% block title %}{% trans %}game_session.login.title{% endtrans %}{% endblock %}

{% block body %}
	<h1>{{ game_session.getName() }}</h1>
	<p>{% trans %}game_session.gamemaster{% endtrans %}: <b>{{ game_session.getOwner.getUsername() }}</b> </p>
	<p>{% trans %}game_session.creation_date{% endtrans %}: <b>{{ game_session.getStartDate().date }}</b> </p>
	<p>{% trans %}game_session.rol_game{% endtrans %}: <b>{{ game_session.getRolGame().getName()|trans }}</b> </p>
	<p>{% trans %}game_session.language{% endtrans %}: <b>{{ game_session.getLanguage().getDisplayName()|trans|capitalize }}</b> </p>
	<p>{% trans %}game_session.comments{% endtrans %}: <b>{{ game_session.getComments() }}</b> </p>
	
	</br>
	<h3>{% trans %}game_session.login.title{% endtrans %}</h3>
	</br>
	{% for flashMessage in app.session.flashbag.get('bad_login') %}
		{{ flashMessage|trans }}
	{% endfor %}
	{{ form_start(form, {'method': 'POST', 'style': 'horizontal', 'attr': {novalidate: 'novalidate'}}) }}
		{{ form_row(form.password, { 'label': 'game_session.password', 'label_col': 2, 'widget_col': 2}) }}
		{{ form_row(form.submit_button, {'label': 'game_session.login.submit'}) }}
	{{ form_end(form) }}
	
{% endblock %}